<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Abastece Alí.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE0BDD651F4DD01A0076C39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0BDD7C1F4DD01B0076C39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE0BDD871F4DD01B0076C39C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
